<!DOCTYPE html>
<html lang="en">
<title>首页</title>
<meta charset="utf-8">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jsAddress.js') }}"></script>

<body>

<div id="form-div">
<form id="my-form" method="post" action="##" onsubmit="return false">
    <select id="cmbType" name="house_type"></select>
    <select id="cmbProvince" name="province"></select>
    <select id="cmbCity" name="city"></select>
    <select id="cmbArea" name="area"></select>

    <script type="text/javascript">
        addressInit('cmbType', 'cmbProvince', 'cmbCity', 'cmbArea');
    </script>
    <input type="submit" value="抓取" onclick="login()">
</form>
</div>

<div>
<ul>
    {% for i in crawl_tasks %}
    <li>
        <button type="submit" onclick="btnAction(this)">查看</button>
        <span class="{{ i[0] }}">{{ crawl_status[i[0]] }}</span>
        <span class="{{ i[1] }}">{{ cities[i[1]] }}</span>
        {% if 'loupan' in i[0] %}
            <span class="{{ i[2] }}">{{ result_fang[i[2]] }}</span>
        {% else %}
            <span class="{{ i[2] }}">{{ result_ershou[i[2]] }}</span>
        {% endif %}
        <span class="{{ i[3] }}">{{ crawl_status[i[3]] }}</span>
        <button type="submit" onclick="DeleteBtn(this)">删除</button>
    </li>
    {% endfor %}
</ul>
</div>
</body>
</html>